# Ignore all files
*

# Except these files
!main.py
!rag_logic.py
!data_ingestion.py
!api_service.py
!requirements.txt
!README.md
!.gitignore
!data_documents/
!data_documents/**
!services/
!services/**
!middleware/
!middleware/**
!.github/
!.github/workflows/
!.github/workflows/*
!Dockerfile
!.dockerignore

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore data folders
data_documents_test/
rag_chroma_db/

# Ignore notebook checkpoints
.ipynb_checkpoints/
