name: CI-CD Ptit Chatbot (Tag-Only Mode)
on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get tag name
        id: vars
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        run: |
          REPO=${{ secrets.DOCKERHUB_USERNAME }}/ptit-chatbot
          USER_TAG=${{ steps.vars.outputs.tag }}
          
          docker build -t $REPO:$USER_TAG .
          docker push $REPO:$USER_TAG

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ptit-dorm-chatbot'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'docker.io/${{ secrets.DOCKERHUB_USERNAME }}/ptit-chatbot:${{ steps.vars.outputs.tag }}'